#main {
                min-width:425px;
                font-family: sans-serif;
            }
            
            @media all and (min-width:1024px) {
                #left {
                    float: left;
                    width: 80%;
                    font-size: 20px;
                    height: 350px;
                    line-height: 1.5em;
                }

                #right {
                    float: left;
                    width: 20%;
                    font-size: 15px;
                    height: 350px;
                    line-height: 1.5em;
                    text-align: center;
                }

                #center {
                    float: left;
                    width: 100%;
                    font-size: 15px;
                    line-height: 1.5em;
                    font-family: sans-serif;
                }
            }
            
            @media all and (min-width:425px) and (max-width:1023px) {
                #left {
                    float: none;
                    height: 400px;
                    font-size: 25px;
                    line-height: 1.5em;
                    text-align: center;
                }

                #right {
                    float: none;
                    height: 500px;
                    font-size: 25px;
                    line-height: 1.5em;
                    text-align: center;
                }

                #center {
                    float: none;
                    font-size: 20px;
                    line-height: 1.5em;
                    font-family: sans-serif;
                }
                
                #sievpnprzod {
                    width: 272px;
                    height: 354px;
                }
            }

            a:link {
                text-decoration: none;
                color: cadetblue;
            }

            a:visited {
                text-decoration: none;
                color: cadetblue;
            }

            a:hover {
              text-decoration: underline;
            }

            a:active {
              text-decoration: underline;
            }
            
            hr.linia {
                border: 2px solid black;
            }